<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>{{movie.Title}}</h1>
  <p><a href="{% url 'index' %}">Back to main</a></p>
   <div class="add-to-favorite">
    {% if user.is_authenticated %}
    <button>Add to favorite</button>
    {% else %}
    <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Log in to Add movie</a>
    {% endif %}
  </div>
  <div>
    <img src="{{movie.Poster}}" />
  </div>
  <ul>
    <li><p>Year: {{movie.Year}}</p></li>
    <li><p>Rated: {{movie.Rated}}</p></li>
    <li><p>Released: {{movie.Released}}</p></li>
    <li><p>Runtime: {{movie.Runtime}}</p></li>
    <li><p>Genre: {{movie.Genre}}</p></li>
    <li><p>Director: {{movie.Director}}</p></li>
    <li><p>imdbRating: {{movie.imdbRating}}</p></li>
    <li><p>Plot: {{movie.Plot}}</p></li>
  </ul>
</body>
</html>