<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Todays Movies</h1>
  <div class="account">
    {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
    <a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Log In</a>
    {% endif %}
  </div>
  <ul>
  {% for movie in movies %}
    <li>
      <a href="{% url 'detail' movie.imdbID %}">
        <h2>{{movie.Title}}</h2>
        <img src="{{movie.Poster}}" />
        <p>Year: {{movie.Year}}</p>
      </a>
    </li>
  {% endfor %}
</ul>
</body>
</html>
